<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Menu_common</key>
	<array>
		<string>action_MFExportDatabaseAction</string>
		<string>action_MFImportDatabaseAction</string>
		<string>action_MFResetDatabaseAction</string>
		<string>action_MFExportLogsAction</string>
		<string>action_MFEmailLogsAction</string>
	</array>
</dict>
</plist>
