<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mfwebviewcell</key>
	<dict>
		<key>heightNoLabel</key>
		<integer>520</integer>
		<key>height</key>
		<integer>541</integer>
		<key>typeName</key>
		<string>MFConfigurationGroupDescriptor</string>
	</dict>
</dict>
</plist>
